fonts = PingFang SC,-apple-system, BlinkMacSystemFont,HarmonyOS_Medium,Helvetica Neue,,Microsoft YaHei,sans-serif,Roboto, "Helvetica Neue", Arial, system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

color-accent = #6976E7
color-primary = #1a202c

body
  display flex
  flex-direction column
  justify-content flex-start
  align-items center /* For horizontal alignment */
  padding-top 5em
  padding-bottom 8em
  font-family fonts
  color: color-primary

div#content
  // display: flex;
  // flex-direction: column
  // justify-content: flex-start
  // align-items: flex-start
  width 40em
  max-width 90%

h1:after,h2:after,h3:after,h4:after,h5:after,h6:after
    width: 40px
    height: 11px
    content: ""
    display: block
    background: color-accent
    opacity: 0.25
    pointer-events: none
    border-radius: 15px
    margin-left: -5px
    bottom: 0px
h1,h2,h3,h4,h5,h6
    font-weight: bold
h1
    font-size: 30px
    line-height: 22px
h2
    font-size: 26px
    line-height: 20px
h3
    font-size: 22px
    line-height: 17px
h4
    font-size: 18px
    line-height: 12.5px
h5
    font-size: 15px
    line-height: 10px
h6
    font-size: 13px
    line-height: 9px

a
    color color-accent
    text-decoration underline
    font-weight: bold;

div#menu-outer
  margin-top 0.5em


nav#menu-inner 
  a,span
    margin-right 1em
    font-weight 520
  span
    color color-primary
    text-decoration none
  a
    color color-accent
    text-decoration underline
    font-weight: bold;

div#content-outer
  margin-top 2em
  div#content-inner
    div#paginator
      margin-top 4em
      a
        margin-right 1em
      span
        color color-accent
        margin-right 1em

div.post-item
  margin-bottom: 1em
  p
    margin-top 0
    margin-bottom 0.5em
    a
      color #19202b
      font-size: 1.2em
      text-decoration: none
      
time
  color #b9bfcc



div#bottom-inner
  margin-top 8em
  hr
    background #CCCCCC
    height 1px
    border none
  div
    height 2em
    img
        width 1em
        height 1em
        margin-left 1em
        margin-top 3px

img
  max-width 100%

aside
  li
    margin-top 0.5em
    margin-bottom 0.5em

@import '_post'
@import '_highlight/index'
